<tr id="order-<%= order.id%>">
  <div class="card">
    <div class="card-content">
      <span class="card-title"><%= link_to "Order #: #{order.id}", order_path(order) %></span>
      <p>Ordered on: <%= order.created_at.strftime('%b %e, %l:%M %p') %></p>
      <p>Total: <%= number_to_currency order.total %></p>
    </div>
  </div>
</tr>