.creature-card .card-content {
	position: absolute;
	bottom: 22px;
  left: 25px;
}

.creature-card .cart-action {
	text-align: center;
	position: absolute;
	bottom: 10px;
  left: 50px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.landing {
  flex: 1 0 auto;
  background: url('morning_beasts.jpg') center / cover ;
}

.pages {
	flex: 1 0 auto;
	background: #e9dab9; /* Old browsers */
	background: -moz-linear-gradient(top,  #e9dab9 0%, #e9dab9 59%, #e8c986 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e9dab9 0%,#e9dab9 59%,#e8c986 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e9dab9 0%,#e9dab9 59%,#e8c986 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.padding {
	padding: 15px;
}

.pad-links {
  padding-left: 50px;
}

.card.small {
  background-color: #DCDCDC;

}
.card.small:hover {
  background-color: #425B5A;
}
.category_name {
  font-size: 36px;
  margin-left: 50px;
  text-align: right;
}

.creature-show {
  margin: 100px 100px 100px 100px;
}
#card-show {
  padding-top: 25px;
  font-family: Helvetica;
  font-size: 28px;
  text-align: center;
}
.creature-show-cart {
  text-align: center;
}
.category-show-cart {
  text-align: center;
}

.card.medium#show-img {
  height: 800px;
}

.card.small .card-image {
  overflow: auto;
}

.card.medium .card-image {
  overflow: auto;
}

.cart .creature-image {
  height: auto;
  width: 250px;
}

.cart img {
  object-fit: cover;
}

.order .creature-image {
   width: 150px;
}

.order img {
  height: 136px;
  object-fit: cover;
}

.order h6 a {
  font-size: 25px;
}

.orders .btn {
  margin-bottom: 6px;
  width: 225px;
  text-align: center;
  font-size: 14px;
}

.orders .card {
  min-width: 650px;
}

.orders .card a {
  margin-right: 10px;
}

.categories-row {
    height: 350px;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.categories-creature-card {
  width: 250px;
  display: inline-block;
}

.admin-dashboard .btn {
	margin: 5px;
}
.landing-page .btn {
	margin: 5px;
}

.landing-page{
	margin-top: 10%;
	text-align: center;
}

.profile-info {
	font-weight: bold;
	font-size: 24px;
}

.admin-dashboard {
	text-align: center;
}

.center {
	text-align: center;
}

select {
	display: block;
	width: 251px;
}
