<h1>Categories</h1>
<ul class="categories">
  <% @categories.each do |category| %>
  <li id="category-<%=category.id%>">
      <%= link_to category.name.titleize, category_path(category.name), class: 'category_name' %>
    <div class="categories-row">
      <% category.creatures.active.each do |creature| %>
        <%= render partial: 'categories_creature_card', locals: {creature: creature} %>
      <% end %>
    </div>
  </li>
  <% end %>
</ul>
