<div class="col xl3 l4 m6 s12">
  <div class="card medium" id="show-img">
    <div class="card-image">
      <%= image_tag creature.image_url %>
    </div>
    <div id='card-show'>
      Breed: <%= link_to creature.breed, creature_path(creature) %><br>
      Price: <%= number_to_currency creature.price %><br>
    </div>
    <div class="creature-show-cart">
    <%= button_to "Add to Cart", cart_path(creature_id: creature.id), class: 'btn waves-effect' %>
    </div>
  </div>
</div>

